body{
    font-family: "Verdana";
    background-color: linen;
}

div.rating{
    width:16px;
    height:16px;
    display: inline-block;
}

div.ratingOn{
    background-image: url('starOn.png');
}

div.ratingOff{
    background-image: url('starOff.png');
}
